.row
  .span6.title_box
    %h1 Blood Pressure at Home
    %p A free and simple solution for patients to record their home blood pressures and have them reviewed by their GP.
    %p{style: "margin-top: 50px;"}
      %i Note: This web application does not support IE7. Please use Chrome, Firefox or Safari (latest versions if possible)
  .span6
    =image_tag 'preview.png', class: 'img-polaroid'


.row{style: "margin-top: 40px;"}
  .span6
    %hr
    %p Please enter your patient identifier to login and enter your blood pressure readings
    .login_form{style: "margin-top: 30px;"}
      = form_tag sessions_path(query: 'patient') do
        = label_tag :patient_identifier
        = text_field_tag :identifier
        %br
        %br
        = submit_tag 'Login', class: 'btn btn-success'
    %p
      %strong
        Not sure of your patient identifier? Ask your doctor!
