.page-header
  %h1 Your Patient List

.add_new_patient_form
  = link_to "Add a new patient", doctor_patients_path(@doctor), method: :post, class: "btn btn-small btn-primary" 
.patients
  - if @patients.empty?
    %p
      %span.span-error You have no patients yet.
  - else
    %table.table
      %caption
      %thead
        %tr
          %th Created on
          %th Identifier
      %tbody
        - @patients.each do |patient|
          %tr
            %td= patient.created_at.to_s(:long)
            %td= patient.identifier

